@use "./functions" as f;
@use "./variables" as v;
@use "./mixins" as m;

.--richtext {
    @include m.font-size(14, 20);

    b,
    strong {
        font-weight: 700;
    }

    a {
        color: inherit;
        text-decoration: underline;
        font-weight: 700;

        &:hover {
            text-decoration: none;
        }
    }

    p {
        margin-bottom: 1.5rem;
    }

    img {
        display: block;
        max-width: 100%;
        height: auto;
        margin: 2rem 0;
    }

    hr {
        display: block;
        margin: 1.5rem 0;
        border-top: 1px solid v.$gray;
        border-bottom: 0;

        & ~ p {
            margin-top: 2rem;
        }
    }

    ul {
        padding-left: 25px;
        list-style: disc;

        li {
            margin-bottom: 24px;
            padding-left: 16px;

            @include m.screen("md") {
                padding-left: 20px;
            }
            @include m.screen("lg") {
                padding-left: 40px;
            }
        }
    }

    @include m.screen("md") {
        @include m.font-size(16, 24);
    }

    @include m.screen("lg") {
        @include m.font-size(18, 28);
    }
}

.--text-center {
    text-align: center;
}

.--hidden {
    display: none;
}
