@use "/src/styles/abstracts/variables" as v;
@use "/src/styles/abstracts/mixins" as m;
@use "/src/styles/abstracts/functions" as f;

.form {
    padding: 2rem;
    border-radius: v.$border-radius-md;
    background-color: v.$white;

    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;

    text-align: center;

    .h3 {
        margin-bottom: 1.5rem;
    }

    :where(input, textarea) {
        width: 100%;
        border: none;
        padding: 1.2rem;

        border-radius: v.$border-radius-md;

        background-color: v.$grey-1;

        &::placeholder {
            font-size: f.px2rem(14);
        }
    }

    textarea {
        resize: none;
        height: 4rem;
    }
}
