@use "/src/styles/abstracts/variables" as v;
@use "/src/styles/abstracts/mixins" as m;
@use "/src/styles/abstracts/functions" as f;

.threeCards {
    margin-top: 2rem;

    display: grid;

    @include m.columns(1);

    @include m.screen("lg") {
        margin-top: -6rem;

        @include m.columns(3);
    }
}
