@use "/src/styles/abstracts/variables" as v;
@use "/src/styles/abstracts/mixins" as m;
@use "/src/styles/abstracts/functions" as f;

.heroHome {
    position: relative;

    height: 90vh;

    // Background with overlay
    background:
        linear-gradient(rgba(0, 0, 0, 0.77), rgba(0, 0, 0, 0.77)),
        url("/images/home-hero.jpeg") no-repeat;
    background-size: cover;

    .wrapper {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        row-gap: 3rem;

        padding-top: f.px2rem(250);

        @include m.screen("lg") {
            grid-template-columns: repeat(2, 1fr);

            padding-top: f.px2rem(200);
            row-gap: initial;
            column-gap: 3rem;
        }
    }

    &__content {
        position: relative;
        display: flex;
        flex-direction: column;

        row-gap: f.px2rem(20);
        color: v.$white;

        @include m.screen("lg") {
            align-items: flex-start;
        }

        button {
            margin-top: 1rem;
        }
    }

    &__form {
        @include m.screen("lg") {
            width: 80%;

            place-self: end;
        }
    }
}
