@use "/src/styles/abstracts/variables" as v;

.header {
    position: fixed;

    top: 0;
    left: 0;

    color: v.$black;

    width: 100%;

    z-index: 10;
}

.headerUp {
    display: flex;

    padding: 1rem;
    margin-top: 1rem;
    border-radius: v.$border-radius-md;

    background-color: rgba(v.$white, 0.9);

    justify-content: space-between;

    li,
    a {
        display: flex;

        justify-content: center;
        align-items: center;

        gap: 0.25rem;
    }

    img {
        width: 2rem;
    }
}
