@use "/src/styles/abstracts/variables" as v;

.navbar {
    &__content {
        padding-top: 1rem;
        padding-bottom: 1rem;

        background-color: transparent;

        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 4rem;
    }

    .logo {
        max-width: 10rem;
    }

    ul {
        display: flex;

        gap: 1rem;

        text-transform: uppercase;

        color: v.$white;

        letter-spacing: 1px;
    }
}
