@use "/src/styles/abstracts/variables" as v;
@use "/src/styles/abstracts/mixins" as m;
@use "/src/styles/abstracts/functions" as f;

// Choose where because it has 0 specificity
// So it can be easily overridden
:where(h1, h2, h3, h4, h5, h6) {
    margin: 0;
}

.menu-label {
    font-size: 0.875rem;
    font-weight: 600;
}

.h1 {
    @include m.font-size(28, 600, 32, 1);

    @include m.screen("md") {
        @include m.font-size(40, 600, 48, 1);
    }

    @include m.screen("lg") {
        @include m.font-size(52, 600, 60, 1);
    }
}

.h2 {
    @include m.font-size(24, 600, 28, 1);

    @include m.screen("md") {
        @include m.font-size(32, 600, 36, 1);
    }

    @include m.screen("lg") {
        @include m.font-size(40, 600, 44, 1);
    }
}

.h3 {
    @include m.font-size(24, 600, 28, 1);

    @include m.screen("md") {
        @include m.font-size(28, 600, 32, 1);
    }

    @include m.screen("lg") {
        @include m.font-size(32, 600, 36, 1);
    }
}

.h4 {
    @include m.font-size(20, 600, 24, 1);

    @include m.screen("md") {
        @include m.font-size(24, 600, 28, 1);
    }

    @include m.screen("lg") {
        @include m.font-size(28, 600, 32, 1);
    }
}

.h5 {
    @include m.font-size(18, 500, 20, 1);

    @include m.screen("md") {
        @include m.font-size(20, 500, 24, 1);
    }

    @include m.screen("lg") {
        @include m.font-size(22, 500, 28, 1);
    }
}

.h6 {
    @include m.font-size(18, 400, 20, 1);

    @include m.screen("md") {
        @include m.font-size(18, 400, 24, 1);
    }

    @include m.screen("lg") {
        @include m.font-size(20, 400, 28, 1);
    }
}

.p {
    @include m.font-size(16, 300, 24);
}

.p-big {
    @include m.font-size(18, 400, 24);
}

.text-gray {
    color: v.$gray;
}
